{% extends "base_logged_in.html" %}
{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
style="background-color: {{ bg_color }} ;"
{% endblock %}
{% block content %}
{% if client == 'iPhone' %}
    {% include 'nav_mobile.html' %}
{% endif %}
{% if client == 'Desktop' %}
    {% include 'nav_desktop.html' %}
{% endif %}
<br>
<div class="container">
    <br>
    <a href="/news" style="color: {{ text_alt_color }}; ">
        <i class="fas fa-arrow-left"></i>&nbsp;{{ l.57 }}
    </a>
    <br>
    <h1 style="color: {{ text_alt_color }}; font-size: {{ h1_size }};">
        <i class="fas fa-newspaper"></i>&nbsp;{{ l.56 }}&nbsp;&nbsp;&nbsp;
        <a onclick="playAudio('{{ url_for('static', filename='mp3/news/bild_sport.mp3') }}')"><i class="fas fa-volume-up"></i></a>
    </h1>
    <br>
    <div class="row">
        {% for i in newsdict.values() %}
        <div class="col-12">
            <div class="card" style="background-color:transparent">
                <div class="card-body" style="background-color: {{ element_color }}; color: {{ text_color }};">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <a href="{{ i.link }}" class="btn btn-primary">
                        <i class="fas fa-external-link-alt"></i>&nbsp;{{ l.53 }}</a>
                </div>
            </div>
        <br>
        </div>
        {% endfor %}
    </div>
    <br>
</div>

<script>
    function playAudio(url) {
      new Audio(url).play();
    }
</script>
<script>
    $('#home').click(function(){
    $(location).attr('href', '/')
    });
</script>
<script>
    $('#settings').click(function(){
    $(location).attr('href', '/')
    });
</script>
<script>
    $('#profile').click(function(){
    $(location).attr('href', '/')
    });
</script>
{% endblock %}