{% extends "base_logged_in.html" %}
{% block head %}
<script>
    var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  li.classList.add("collection-item");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>
{% endblock %}
{% block title %}ToDo{% endblock %}
{% block body %}
class="grey darken-4"
{% endblock %}
{% block content %}
<br>
<div class="container grey darken-3">
    <div class="container red-text text-accent-3">
        <br>
        <h4>{{ l.9 }}</h4>
        <br>
        <div id="myDIV" class="header">
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn btn">Add</span>
        </div>
        <br>
        <ul id="myUL" class="collection">

        </ul>
        <br>
    </div>
</div>
{% endblock %}
