<!DOCTYPE html>
<html lang="en">
<head>{% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Tess</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body {% block body %}{% endblock %}>
<div class="navbar">
    <script>
        $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.fixed-action-btn').floatingActionButton();
        $('select').formSelect();
        function(){
        $('#button').click(
            function(){
                var toAdd = $('input[name=ListItem]').val();
                 $('ol').append('<li>' + toAdd + '</li>');
            });

       $("input[name=ListItem]").keyup(function(event){
          if(event.keyCode == 13){
            $("#button").click();
          }
      });

      $(document).on('dblclick','li', function(){
        $(this).toggleClass('strike').fadeOut('slow');
      });

      $('input').focus(function() {
        $(this).val('');
      });

      $('ol').sortable();

    }
        });
    </script>
    <nav class="grey darken-3 ">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo red-text text-accent-3">TESS</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/settings">{{ l.1 }}</a></li>
          <li><a href="/logout">{{ l.2 }}</a></li>
      </ul>
    </div>
    </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a class="red-text text-accent-3" href="/settings">{{ l.1 }}</a></li>
      <li><a class="red-text text-accent-3" href="/logout">{{ l.2 }}</a></li>
  </ul>
</div>
{% block content %}{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>