<!DOCTYPE html>
<html lang="en">
<head>{% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Tess</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        function(){
        $('#button').click(
            function(){
                var toAdd = $('input[name=ListItem]').val();
                 $('ol').append('<li>' + toAdd + '</li>');
            });

       $("input[name=ListItem]").keyup(function(event){
          if(event.keyCode == 13){
            $("#button").click();
          }
      });

      $(document).on('dblclick','li', function(){
        $(this).toggleClass('strike').fadeOut('slow');
      });

      $('input').focus(function() {
        $(this).val('');
      });

      $('ol').sortable();

    }
        });


    </script>
    <script>
        $(document).ready(function(){
        $('select').formSelect();
        });
    </script>
    <script>
        $(document).ready(function(){
        $('.sidenav').sidenav();
        });
    </script>
</head>
<body {% block body %}{% endblock %}>
<div class="navbar">

    <nav class="grey darken-3 ">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo red-text text-accent-3">TESS</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/settings"><i class="white-text material-icons">settings</i></a></li>
            <li><a href="/logout"><i class="white-text material-icons">lock_outline</i></a></li>
        </ul>
    </div>
    </nav>
    <ul class="sidenav sidenav-fixed grey darken-2" id="mobile-demo">
        <li><div class="user-view">
            <div class="background grey darken-1">

            </div>
            <a href="#user"><img class="circle" src="static/images/sample_bg.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">@{{ username }}</span></a>
        </div>
        </li>
        <li><a class="white-text" href="/app_calendar"><i class="white-text material-icons">calendar_today</i>{{ l.13 }}</a></li>
        <li><a class="white-text" href="/app_movies"><i class="white-text material-icons">movie</i>{{ l.12 }}</a></li>
        <li><a class="white-text" href="/settings"><i class="white-text material-icons">settings</i>{{ l.1 }}</a></li>
        <li><a class="white-text" href="/logout"><i class="white-text material-icons">lock_outline</i>{{ l.2 }}</a></li>
    </ul>
</div>
{% block content %}{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>