<nav class="navbar navbar-expand" style="background-color: {{ element_color }};">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: {{ text_color }}; text-decoration:none;">TESS</a>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" id="home" style="color: {{ accent2_color }};text-decoration:none;">{{ l.19 }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="settings" style="color: {{ text_color }};text-decoration:none;">{{ l.1 }}</a>
          </li>
        </ul>
        <a style="color: {{ text_color }};text-decoration:none;" href="/logout">{{ l.2 }}</a>
      </div>
    </div>
  </nav>