{% extends "base_logged_in.html" %}
{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <div class="card light-blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">{{ l.4 }}, {{ username }}.</span>
                    <p>Text.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card light-blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>Text.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card light-blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>Text.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card light-blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>Text.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card light-blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>Text.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}