{% extends "base_logged_in.html" %}
{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
class="grey darken-4"
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <div class="card grey darken-3">
                <div class="card-content center red-text text-accent-3">
                    <i class="large material-icons">home</i>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l3">
            <div class="card grey darken-3" onclick="location.href='/app_weather';">
                <div class="card-content center red-text text-accent-3">
                    <i class="large material-icons">cloud</i>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l3">
            <div class="card grey darken-3">
                <div class="card-content center red-text text-accent-3">
                    <i class="large material-icons">movie</i>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l3">
            <div class="card grey darken-3">
                <div class="card-content center red-text text-accent-3">
                    <i class="large material-icons">calendar_today</i>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l3">
            <div class="card grey darken-3" onclick="location.href='/app_todo';">
                <div class="card-content center red-text text-accent-3">
                    <i class="large material-icons">view_list</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}