{% extends "base_logged_in.html" %}
{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
style="background-color: {{ bg_color }} ;"
{% endblock %}
{% block content %}
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 style="color: {{ text_alt_color }}; font-size: {{ h1_size }};">{{ l.3 }}, {{ username }}</h1>
        </div>
        <div class="col-4 dropdown text-end">
            <a class="dropdown-toggle show" type="button" id="dropdownMenuButtonLG" data-bs-toggle="dropdown" aria-expanded="false" style="color: {{ text_alt_color }}; text-decoration:none;">
              <i class="fas fa-2x fa-user"></i>
            </a>
            <ul class="dropdown-menu show" aria-labelledby="dropdownMenuButtonLG" style="background-color: {{ element_color }}; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 48px, 0px);" data-popper-placement="bottom-start">
              <li><h6 style="color: {{ accent2_color }};" class="dropdown-header">{{ username }}</h6></li>
              <li><a style="color: {{ text_color }};" class="dropdown-item" href="#">Action</a></li>
              <li><a style="color: {{ text_color }};" class="dropdown-item" href="#">Another action</a></li>
              <li><a style="color: {{ text_color }};" class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color: {{ text_color }};" class="dropdown-item" href="/logout">{{ l.2 }}</a></li>
            </ul>
          </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="background-color: {{ element_color }};">
                <div class="card-body" style="color: {{ text_color }};">
                    This is a test.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="card" style="background-color: {{ element_color }};">
                <div class="card-body" style="color: {{ text_color }};">
                    This is a test.<br>TEST
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="background-color: {{ element_color }};">
                <div class="card-body" style="color: {{ text_color }};">
                    This is a test.
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom" style="background-color: {{ element_color }};">
  <div class="container">
      <div class="row" style="width: 100%">
          <div class="col">
              <ul class="navbar-nav">
                    <li class="nav-item text-center" style="color: {{ accent2_color }};"><br><i class="fas fa-2x fa-home"></i><br>{{ l.19 }}</li>
              </ul>
          </div>
          <div class="col">
              <ul class="navbar-nav">
                    <li class="nav-item text-center" style="color: {{ text_color }};"><br><i class="fas fa-2x fa-cog"></i><br>{{ l.1 }}</li>
              </ul>
          </div>
          <div class="col">
              <ul class="navbar-nav">
                    <li class="nav-item text-center" style="color: {{ text_color }};"><br><i class="fas fa-2x fa-user-lock"></i><br>{{ l.2 }}</li>
              </ul>
          </div>
      </div>
  </div>
</nav>
{% endblock %}